<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- We need Inertia and Collision properties for Gazebo simulation -->

    <!-- Creating m_joint function for joints-->
    <xacro:macro name="m_joint" params="name type axis_xyz origin_rpy origin_xyz parent child limit_effort limit_lower_val limit_upper_val limit_vel">
        <joint name="${name}" type="${type}">
            <axis xyz="${axis_xyz}"/>
            <limit effort="${limit_effort}" lower="${limit_lower_val}" upper="${limit_upper_val}" velocity="${limit_vel}"/>
            <origin rpy="${origin_rpy}" xyz="${origin_xyz}"/>
            <parent link="${parent}"/>
            <child link="${child}"/>
        </joint>
        <!-- To use the controllers, add a new element for each joint we want to control which is called transmission -->
        <transmission name="trans_${name}">
            <type>transmission_interface/SimpleTransmission</type>
            <joint name="${name}">
                <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
            </joint>
            <actuator name="motor_${name}">
                <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
                <mechanicalReduction>1</mechanicalReduction>
            </actuator>
         </transmission>
    </xacro:macro>

    <!-- Creating m_link_cylinder function for links-->
    <xacro:macro name="m_link_cylinder" params="name origin_rpy origin_xyz radius length mass ixx ixy ixz iyy iyz izz">
        <link name="${name}">
            <!-- START Gazebo simulation properties -->
            <inertial>
                <mass value="${mass}"/>
                <origin rpy="${origin_rpy}" xyz="${origin_xyz}"/>
                <inertia ixx="${ixx}" ixy="${ixy}" ixz="${ixz}" iyy="${iyy}" iyz="${iyz}" izz="${izz}"/>
            </inertial>
            <collision>
                <origin rpy="${origin_rpy}" xyz="${origin_xyz}"/>
                <geometry>
                    <cylinder radius="${radius}" length="${length}"/>
                </geometry>
            </collision>
            <!-- END START Gazebo simulation properties -->
            <visual>
                <origin rpy="${origin_rpy}" xyz="${origin_xyz}"/>
                <geometry>
                    <cylinder radius="${radius}" length="${length}"/>
                </geometry>
            </visual>
        </link>
    </xacro:macro>

    <!-- Creating m_link_box function for link box-->
    <xacro:macro name="m_link_box" params="name origin_rpy origin_xyz box_size mass ixx ixy ixz iyy iyz izz">
        <link name="${name}">
            <!-- START Gazebo simulation properties -->
            <inertial>
                <mass value="${mass}"/>
                <origin rpy="${origin_rpy}" xyz="${origin_xyz}"/>
                <inertia ixx="${ixx}" ixy="${ixy}" ixz="${ixz}" iyy="${iyy}" iyz="${iyz}" izz="${izz}"/>
            </inertial>
            <collision>
                <origin rpy="${origin_rpy}" xyz="${origin_xyz}"/>
                <geometry>
                    <box size="${box_size}"/>
                </geometry>
            </collision>
            <!-- END START Gazebo simulation properties -->
            <visual>
                <origin rpy="${origin_rpy}" xyz="${origin_xyz}"/>
                <geometry>
                    <box size="${box_size}"/>
                </geometry>
            </visual>
        </link>
    </xacro:macro>
</robot>