<?xml version="1.0" ?>

<robot name="rm" xmlns:xacro="http://www.ros.org/wiki/xacro">
  
  <!-- BGN - Include -->
  <!-- Include the file to use the functions -->
  <xacro:include filename="$(find rm_description)/urdf/robot_parameters.xacro" />
  <xacro:include filename="$(find rm_description)/urdf/links_joints.xacro" />
  <!-- END - Include -->
  
  <!-- BGN - Robot description -->
  <!-- Base link box robot description-->
  <m_link_box name="${l00}"
              origin_rpy="0 0 0" origin_xyz="0 0 0"
              mass="1024"
              ixx="170.667" ixy="0" ixz="0"
              iyy="170.667" iyz="0"
              izz="170.667"
              box_size="1 1 1" />
  
  <!-- The circle joint between base_link and link_01 rotating around the z-axis -->
  <m_joint name="${l00}__${l01}" type="revolute"
           axis_xyz="0 0 1"
           origin_rpy="0 0 0" origin_xyz="0 0 0.5"
           parent="${l00}" child="${l01}"
           limit_effort="1000"
           limit_lower_val="-3.14"
           limit_upper_val="3.14"
           limit_vel="0.5" />
  
  <!-- Link 1-->         
  <!-- <m_link_cylinder name="${l01}"
              origin_rpy="0 0 0" origin_xyz="0 0 0.2"
              mass="157.633"
              ixx="13.235" ixy="0" ixz="0"
              iyy="13.235" iyz="0"
              izz="9.655"
              length="0.4" radius="0.35" /> -->
  <m_link_mesh name="${l01}"
            origin_rpy="0 0 0" origin_xyz="0 0 -0.1"
            mass="157.633"
            ixx="13.235" ixy="0" ixz="0"
            iyy="13.235" iyz="0"
            izz="9.655"
            meshfile="package://rm_description/meshes/Link1-v2.stl"
            meshscale="0.001 0.001 0.001" />
              
  <m_joint name="${l01}__${l02}" type="revolute"
           axis_xyz="0 1 0"
           origin_rpy="0 0 0" origin_xyz="0 0 0.4"
           parent="${l01}" child="${l02}"
           limit_effort="1000"
           limit_lower_val="0"
           limit_upper_val="0.5"
           limit_vel="0.5" />
  
  <!-- Link 2-->
  <m_link_cylinder name="${l02}"
              origin_rpy="0 0 0" origin_xyz="0 0 0.4"
              mass="57.906"
              ixx="12.679" ixy="0" ixz="0"
              iyy="12.679" iyz="0"
              izz="0.651"
              radius="0.15" length="0.8" />
  
  <m_joint name="${l02}__${l03}" type="revolute"
           axis_xyz="0 1 0"
           origin_rpy="0 0 0" origin_xyz="0 0 0.8"
           parent="link_02" child="link_03"
           limit_effort="1000"
           limit_lower_val="0"
           limit_upper_val="0.75"
           limit_vel="0.5" />
  
  <!-- Link 3-->
  <m_link_cylinder name="${l03}"
              origin_rpy="0 0 0" origin_xyz="0 0 0.4"
              mass="57.906"
              ixx="12.679" ixy="0" ixz="0"
              iyy="12.679" iyz="0"
              izz="0.651"
              radius="0.15" length="0.8" />
              
  <m_joint name="${l03}__${l04}" type="revolute"
           axis_xyz="0 1 0"
           origin_rpy="0 0 0" origin_xyz="0 0 0.8"
           parent="link_03" child="link_04"
           limit_effort="1000"
           limit_lower_val="0"
           limit_upper_val="0.75"
           limit_vel="0.5" />
  
  <!-- Link 4-->
  <m_link_cylinder name="${l04}"
              origin_rpy="0 0 0" origin_xyz="0 0 0.4"
              mass="57.906"
              ixx="12.679" ixy="0" ixz="0"
              iyy="12.679" iyz="0"
              izz="0.651"
              radius="0.15" length="0.8" />
              
  <m_joint name="${l04}__${l05}" type="revolute"
           axis_xyz="0 0 1"
           origin_rpy="0 0 0" origin_xyz="0 0 0.8"
           parent="link_04" child="link_05"
           limit_effort="1000"
           limit_lower_val="-3.14"
           limit_upper_val="3.14"
           limit_vel="0.5" />
  
  <!-- Link 5-->
  <m_link_cylinder name="${l05}"
              origin_rpy="0 0 0" origin_xyz="0 0 0.125"
              mass="18.056"
              ixx="0.479" ixy="0" ixz="0"
              iyy="0.479" iyz="0"
              izz="0.204"
              radius="0.15" length="0.25" />
  <!-- END - Robot description -->
  
  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      <robotNamespace>/rm</robotNamespace>
    </plugin>
  </gazebo>
  
</robot>